.kart{
    margin: 10px;
    display: flex;
    width: 800px;
    height: 300px;
    justify-content: flex-start;
    background-color: darksalmon;
    text-decoration: none;
    list-style: none;
}
img{
    width: 400px;
    height: 250px;
    margin: 25px;
}
.text{
    display: flex;
    margin: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.title{
    font-size: 20px;
}
a{    
    text-decoration: none;
    list-style: none;
    color: black;
}
a:hover{
    color: red
}
.dis{
    text-align: justify;
}